<%- include('header') %>


  <!-- Button to go to homepage -->
  <div class="text-center" style="padding-top: 20%;">
    <a href="/login">
      <button class="center btn btn-info">Go to Login Page</button>
    </a>
  </div>

  <%- include('footer') %>