<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" style="height: 80px;">
    <div class="container-fluid">
        <a class="navbar-brand special-elite-regular  ps-2" href="/home">LIBRARY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <% if (session.level=="admin" ) { %>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Admin Command
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/user">Users in system</a></li>
                            <li><a class="dropdown-item" href="/groupBook">Tag Book</a></li>
                            <li><a class="dropdown-item" href="/book">Book</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <% } %>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <form>
                            <div class="input-group ps-5">
                                <input type="text" name="search" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit">
                                        <span class="material-symbols-outlined material-icons">
                                            search
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="justify-content-end ">
                        <ul class="navbar-nav navbar-expand-lg my-2 my-lg-0 navbar-nav-scroll"
                            style="--bs-scroll-height: 100px;">
                            <!-- Dropdown Menu -->
                            <% if (session.token !=undefined) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white pt-4" href="#"
                                        id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <%= session.name %>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                                        <li><a class="dropdown-item" href="/profile ">Profile</a></li>
                                        <li><a class="dropdown-item" href="/history ">History</a></li>
                                        <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Support</a></li>
                                    </ul>
                                </li>
                                <!-- User Profile -->
                                <li class="nav-item" style="padding-left: 30px; padding-right: 10px;">
                                    <img class="rounded-circle" src="../images/<%= session.img %>" class="img-thumbnail"
                                        alt="..." style="width: 60px; height: 60px;">
                                </li>
                        </ul>
                    </div>
        </div>
    </div>
</nav>
<% } %>