<%- include('header') %>

    <body class="background-img">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 50%; margin-left: 30px;">
            <div class="card-body">
                <div class="text-center">
                    <h2 class="text-success">REGISTER</h2>
                    <h4>Don't have an Account?</h4>
                </div>
                <form method="post" action="/register" style="margin-top: 20px;">
                    <div class="form-group">
                        <!-- Change to Name ;; Status : Waiting for Edit -->
                        <label class="text-success" for="exampleInputUsername">Full Name</label>
                        <input type="text" name="name" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <!-- Change to Username ;; Status : Waiting for Edit -->
                        <label class="text-success" for="exampleInputUsername">Username</label>
                        <input type="text" name="usr" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="Enter Username">
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <!-- Status : Waiting for Edit -->
                        <label class="text-success" for="exampleInputPassword1">Password</label>
                        <input type="password" name="pwd" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="Password">
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <!-- Status : Waiting for Edit -->
                        <label class="text-success" for="exampleInputPassword1">Phone</label>
                        <input type="text" name="phone" class="form-control rounded-pill padding-left"
                            style="margin-top: 10px;" placeholder="ex.092-000-0000">
                    </div>
                    <div>
                        <% if ( session.message !==undefined ) {%>
                            <div class="alert text-center mt-3 text-danger alert-danger ">
                                <%= session.message %>
                                    <% session.message=undefined %>
                                        <% } %>
                            </div>
                            <input type="hidden" name="level" value="user" />
                            <button type="submit" class="btn btn-outline-success rounded-pill"
                                onsubmit="return validateForm()" style="width: 100%; margin-top: 20px;">Sign-up</button>
                </form>
                <div class="text-center" style="margin-top: 5px;"> - or - </div>
                <a href="/login" type="login" class="btn btn-outline-secondary rounded-pill"
                    style="width: 100%; margin-top: 5px;">Log-In</a>
            </div>
        </div>



        <%- include('footer') %>